<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Shortner URL Generator</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form class="container" action="/" method="post">
      <div class="heading">
        <i class="fa-solid fa-link"></i>
        <span>Your Long Url</span>
      </div>

      <input type="url" name="url" id="url" />
      <% if (locals.error) { %>
      <p class="error"><%= error %></p>
      <% } %>
      <div class="heading">
        <i class="fa-solid fa-wand-magic-sparkles"></i>
        <span>Your Tiny Url</span>
      </div>
      <div id="output">
        <% if (locals.short_url) { %>
        <a href="<%= short_url %>" target="_blank"><%= short_url %> </a>
        <% } %>
      </div>
      <% if (locals.urlError) { %>
      <p class="error"><%= urlError %></p>
      <% } %>
      <button type="submit">Generate</button>
    </form>
  </body>
</html>
